<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="2" name="Test1" parallel="false">
    <classes>
      <class name="week04day01.hw1SeqParallel.Hw1aCreateEditLeadProjMeSequentially"/>
    </classes>
  </test> <!-- Test -->
  
  <test thread-count="2" name="Test2" parallel="classes">
    <classes>
      <class name="week04day01.hw1SeqParallel.Hw1cDeleteLeadProjMeParallel"/>
      <class name="week04day01.hw1SeqParallel.Hw1dDuplicateLeadProjMeParallel"/>
      
    </classes>    
  </test> <!-- Test -->
  
</suite> <!-- Suite -->
